.container{
    display: grid;
    grid-template-columns: 200px 700px 200px;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    /* background-image: url('https://unsplash.com/photos/pMW4jzELQCw'); */
    /* background-image: url("");
    min-height: 600px;
    background-size: cover; */
    
    background-color:white;
}
.container1{
    margin-top: 70px;
    display: flex;
    width: 500px;
    background-color:  #795548;
    /* border: thick dashed brown; */
    height: 200px;
    flex-direction: row;
    padding: 10px;
    grid-area: 1/2/span 1/span 3;
    flex: auto;
    
    justify-content: space-around;
    align-content:center;
}
#capuccino{
    justify-content: flex-start;
    align-items: center;
    color: white;
    padding-top: 70px;
    font-size: xx-large;
    font-family: 'Lobster', cursive;
}
.capuccino_para{
    grid-area: 2/2/span 3/span 1;
    font-family: 'Dancing Script', cursive;
    font-size: larger;
    color: black;
    text-justify: auto;
    /* border: 2px solid red; */
}
#video1{
    grid-area: 8/2/span 3/ span 2;
}
.go_back{
    grid-area: 2/1/span1/span1;
}
.button{
    color: white;
    background-color: #3949AB;
    border: 1px solid #3949AB;
    padding: 12px 24px;
    border-radius: 4px;
    text-decoration: none;
}
.button:hover {
    background-color: white;
    color: #3949AB;
    border: 1px dashed #3949AB;
  }
  iframe{
      height: 400px;
      width: 600px;
  }
  #make_one{
      grid-area: 5/2/span 3/ span 2;
      font-family: 'Lobster', cursive;
      font-size: xx-large;
  }