.container{
    display: grid;
    grid-template-columns: 200px 800px 100px;
    grid-template-rows: 500px 500px 500px;
    grid-gap: 20px;
    justify-content: center;
    /* border: thick dotted green; */
    background-color: aqua;
    margin-top: 10px;
    
}
#form{
    grid-area: 2/2/span 2/span 2;
    align-content: space-between;
}
.signup_main{
    grid-area: 1/2/span 2/span 3;
    font-size: larger;
    font-family: 'Lobster', cursive;
}