h1{
    font-family: 'Sriracha', cursive;
    align-self: center;
    font-size: 130px;
    text-align: center;
}
p{
    font-size: large;
}
#tag_line{
    font-size: 30px;
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
}
@media (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        grid-gap: 5px;
        
        /* border: thick dotted green; */
    }
    .container1{
        width: 50%;
        height:50%;
        
    }
    h1{
        font-size: 30px;
    }

}

@media (max-width: 768px){
    .container{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-gap: 10px;
        
        /* border: thick dotted green; */
    }
    h1{
        font-size: 30px;
    }
    .container1{
        width: 300px;
        height: 950px;
        
    }

}
.button{
    color: white;
    background-color: #795548;
    border: 1px solid #3949AB;
    padding: 12px 24px;
    margin-bottom: 20px;
    border-radius: 4px;
    text-decoration: none;
    
}

.button:hover {
    background-color: white;
    color: #3949AB;
    border: 1px dashed #3949AB;
  }

.container{
    display: grid;
    grid-template-columns: 200px 800px 100px;
    grid-template-rows: auto;
    grid-gap: 20px;
    justify-content: center;
    /* background-image: url('https://images.unsplash.com/photo-1458819714733-e5ab3d536722?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=933&q=80');
    background-size: cover; */
    
    /* border: thick dotted green; */
}
.container1{
    width: 700px;
    height: 950px;
    
}
.types_new_left{
    grid-area: 1/1;
}
.types_new_right{
    grid-area: 1/2;
}
#beans_pic{
    grid-area: 1/2/span 5/span 1;
}
.left_align{
    justify-items: left;
}
#history_head{
    grid-area: 6/2/span 1/span 1;
    font-size: larger;
    font-family: 'Lobster', cursive;
}
#history_cont{
    grid-area: 7/2/span 1/span1;
    justify-self: left
}
#coffee_production{
    grid-area: 8/2/span 1/span 1;
    font-family: 'Lobster', cursive;
    
}
#coffee_product{
    grid-area: 9/2/span 1/ span 1;
}
#types{
    grid-area: 10/2/span 1/span 2;
    font-family: 'Lobster', cursive;
}
#first_list{
    grid-area: 11/2/ span 15/ span 1;
}
.list_float{
    float: left;
    margin-bottom: 10px;
    
}
.right_desc{
    float: right;
    clear: right;
}
.list_float1{
    clear: left;
    float: left;
    margin-bottom: 10px;
}
.last_line{
    grid-area: 1/1/span 1/ span 1;
}
nav{
    grid-area: 3/1/span 2/span 1;
   
}
.nav_div{
    margin-bottom: 30px;
    padding: 10px 10px;
    align-self : auto;
}



